{%extends 'base.html'%}

{%block conteudo%}

    <h1 class="mt-4 mb-3">Cadastro</h1>

    <form method="POST" action="{% url 'cadastro' %}">
        {% csrf_token %}
        <div class="form-group">
            <label>E-mail:</label>
            <input type="email" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label>Nome:</label>
            <input type="email" name="nome" class="form-control">
        </div>
        <div class="form-group">
            <label>Sobrenome:</label>
            <input type="email" name="sobrenome" class="form-control">
        </div>
        <div class="form-group">
            <label>Usuário:</label>
            <input type="email" name="sobrenome" class="form-control">
        </div>
        <div class="form-group">
            <label>Senha:</label>
            <input type="email" name="senha" class="form-control">
        </div>
        <div class="form-group">
            <label>Repita a senha:</label>
            <input type="email" name="senha2" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>

{%endblock%}